.NavbarItems{
    background:linear-gradient(90deg, rgb(99, 91, 172)0%, rgb(26, 23, 90)100%); 
    height: 150px;
    display:flex;
    justify-content: center;
    align-items:center;
    
    font-size: 1.2rem;
}


.fas fa-cat{
    margin-left:0.5rem;
    font-size:2rem;
}

